:root {

    --thema1: #F2F2F2; 
    --thema2: #D9D9D9; 
    --thema3: #737373; 
    --thema4: #202020; 
    --thema5: #0D0D0D; 
}
*{
    margin: 0;  
    box-sizing: border-box;
}
body{
    background-color: var(--thema5);
    color: var(--thema1);
    font-family: Arial, sans-serif;
}
a:link,a:visited{
    text-decoration: none;
    color: var(--thema1);
}
.content{
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
    height: 750px;
    padding-left: 20px;
    padding-right: 20px;
    display : flex;
    align-items : center;
}
.container{
    vertical-align: middle;
}


/*navigation*/
nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--thema1);
    letter-spacing:0.05em;
}
nav .content{
    height: auto;
    padding-left: 0;
    padding-right: 0;
}
nav ul{
    padding-inline-start: 0px;
    list-style-type: none;
}
nav li{
    float: left;
    text-decoration: none;
}
nav a{
    font-family: Georgia, serif;
    float: left;
    display: block;
    text-align: center;
    color: var(--thema5);
    font-size:25px;
    padding: 14px 16px;
}
nav a:hover{
    background-color: var(--thema4);
    color: var(--thema1)!important;
}
nav a:link,nav a:visited{
    color: var(--thema4);
}

/*About*/
main{
    margin-top: 50px;
}
header {
    background-color:var(--thema4);
    background-image: url(bcTexture.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: center center;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
header p{
    padding-top: 50px;
}
p{
    color: var(--thema2);
    font-size: 20px;
    max-width: 700px;
}
#about h1{
    padding-bottom: 30px;
}
#projects {
    background-color: var(--thema5);
}
#contact {
    background-color: var(--thema5);
}
#education {
    background-color: var(--thema4);
}
#contact .content{
    height: 200px;
}